html {
  display: flex;
}

body {
  margin: auto;
  min-width: 300px;
  max-width: 500px;
}

input {
  width: 100%;
  box-sizing: border-box;
}

input,
button {
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: end;
  margin-top: 2em;
}

.actions button:first-child {
  margin-right: auto;
}

.actions button + button {
  margin-left: 1em;
}

h1 {
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h1 a:first-child {
  float: left;
}

h1 a:last-child {
  float: right;
}

td,
th {
  padding: 5px;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
  }

  thead {
    display: none;
  }

  tr + tr {
    border-top: 1px solid black;
  }

  tr,
  td {
    display: block;
  }

  td,
  tr + tr {
    margin-top: 1em;
  }

  td a::before {
    content: attr(data-day);
  }
}