body,
form {
  display: inline-block;
}

input {
  width: 100%;
  box-sizing: border-box;
}

input,
button {
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: end;
  margin-top: 2em;
}

.actions button:first-child {
  margin-right: auto;
}

.actions button + button {
  margin-left: 1em;
}

h1 {
  display: flex;
  justify-content: space-between;
}

h1 a {
  text-decoration: none;
}

td {
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  thead {
    display: none;
  }

  tr,
  td {
    display: block;
  }

  tr + tr,
  td + td {
    margin-top: 1em;
  }

  td a::before {
    content: attr(data-day);
  }
}