form {
  display: inline-block;
}

input {
  width: 100%;
  box-sizing: border-box;
}

input,
button {
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: end;
  margin-top: 2em;
}

.actions button:first-child {
  margin-right: auto;
}

.actions button + button {
  margin-left: 1em;
}

td {
  vertical-align: top;
}