{% extends "base.jinja" %}

{% macro classnames() -%}
  {% for name, value in kwargs|items if value %}{{ name }} {% endfor %}
{%- endmacro %}

{% block title %}
  {{ super() }} | {{ current }}
{% endblock title %}

{% block body %}
<h1>
  <a href="{{ url_for('calendar', **(current - 1)._asdict()) }}" title="Previous">&lt;&lt;</a>
  <span>{{ current }}</span>
  <a href="{{ url_for('calendar', **(current + 1)._asdict()) }}" title="Next">&gt;&gt;</a>
</h1>

<table>
  <thead>
    <tr>
      {% for name in day_name %}
        <th>{{ name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for week in calendar.monthdatescalendar(*current) %}
      <tr>
        {% for date in week %}
          <td>
            <a
              href="{{ url_for('get_form', date=date) }}"
              class="{{ classnames(
                today=date == today,
                other=date.month != current.month,
                reserved=date in reservations,
              ) }}"
              data-day="{{ day_name[loop.index0] }}">
              {{ date.day }}

              <div class="reservation">
                <small>
                  {% if date in reservations %}
                    {{ reservations[date].band|truncate(32) }}
                  {% else %}
                    &mdash;
                  {% endif %}
                </small>
              </div>
            </a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}