{% extends "base.jinja" %}

{% macro classnames() -%}
  {% for name, value in kwargs|items if value %}{{ name }} {% endfor %}
{%- endmacro %}

{% block title %}
  {{ super() }} | {{ current }}
{% endblock title %}

{% block body %}
<nav>
  <h1>
    <a
      href="{{ url_for('calendar', **(current - 1)._asdict()) }}"
      title="Previous"
      class="prev"
    >&lt;&lt;</a>

    <span>{{ current }}</span>

    <a
      href="{{ url_for('calendar', **(current + 1)._asdict()) }}"
      title="Next"
      class="next"
    >&gt;&gt;</a>
  </h1>
</nav>

<table>
  <thead>
    <tr>
      {% for name in day_name %}
        <th>{{ name }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for week in month_dates %}
      <tr>
        {% for date in week %}
          <td>
            <a
              href="{{ url_for('reservation', date=date) }}"
              class="{{ classnames(
                today=date == today,
                other=date.month != current.month,
                reserved=date in reservations,
              ) }}"
              data-day="{{ day_name[loop.index0] }}">
              {{ date.day }}

              <div class="reservation">
                <small>
                  {% if date in reservations %}
                    {% with bands=reservations[date].split_bands() %}
                      <span class="truncated">
                        {{ bands|map('truncate', 16)|join('<br>')|safe }}
                      </span>

                      <ul>
                        {% for band in bands %}
                          <li>{{ band }}</li>
                        {% endfor %}
                      </ul>
                    {% endwith %}
                  {% else %}
                    &mdash;
                  {% endif %}
                </small>
              </div>
            </a>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if current != (today.year, today.month)  %}
  <footer>
    <p>
      Back to
      <a href="{{ url_for('calendar_today') }}">{{ today|strftime('%B %Y') }}</a>
    </p>
  </footer>
{% endif %}
{% endblock body %}