{% extends "base.jinja" %}

{% block title %}
  {{ super() }} | 💀
{% endblock title %}

{% block main %}
  <h1>{{ reason|title }} 💀</h1>

  {% if detail %}
    <p class="error">{{ detail }}</p>
  {% endif %}

  {% for error in errors %}
    <p class="error">
      {% if error.loc %}
        {{ error.loc|map('title')|join(' ') }} {{ error.msg }}
      {% else %}
        {{ error|capitalize }}
      {% endif %}
    </p>
  {% endfor %}

{% endblock main %}

{% block footer %}
  <p><a href="{{ url_for('index') }}">Back home</a></p>
{% endblock footer %}