{% extends "base.jinja" %}

{% block body %}
  <h1>{{ reason|title }} 💀</h1>

  {% for error in errors %}
    <p class="error">
      {% if error.loc %}
        {{ error.loc[1]|title }} {{ error.msg }}
      {% else %}
        {{ error|capitalize }}
    </p>
    {% endif %}
  {% endfor %}
{% endblock body %}