{% extends "base.jinja" %}

{% block body %}
  <h1>{{ reason|title }} 💀</h1>


  {% for error in errors if error.loc %}
    <p class="error">
      {{ error.loc[1]|title }} {{ error.msg }}
    </p>
  {% endfor %}

  <h3 class="home"><a href="{{ url_for('calendar_today') }}">Back home</a></h3>
{% endblock body %}