{% extends "base.jinja" %}

{% block body %}
  <h1>
    Reservation
    {% if reservation.band %}
      for <em>{{ reservation.band }}</em>
    {% endif %}
    on <em>{{ reservation.date }}</em>
  </h1>

  <form method="post">
    <label>
      <p>Date</p>
      <input type="date" name="date" value="{{ reservation.date }}">
    </label>

    <label>
      <p>Band</p>
      <input type="text" name="band" value="{{ reservation.band }}">
    </label>

    <input type="hidden" name="key" value="{{ reservation.key or reservation.date }}">

    <div class="actions">
      <button value="cancel" name="action">Cancel</button>
      <button value="delete" name="action">Delete</button>
      <button value="put" name="action">Save</button>
    </div>
</form>
{% endblock body %}