{% extends "base.jinja" %}

{% block title %}
  {{ super() }} | {{ reservation.date }}
{% endblock title %}

{% block main %}
  <h1>
    Reservation
    {% if reservation.band %}
      for <em>{{ reservation.band }}</em>
    {% endif %}
    on <em>{{ reservation.date }}</em>
  </h1>

  <form method="post">
    <fieldset class="datetime">
      <label>
        <p>Date</p>
        <input type="date" name="date" value="{{ reservation.date }}">
      </label>

      <label>
        <p>From</p>
        <input type="time" name="time_start" value="{{ reservation.time_start }}">
      </label>

      <label>
        <p>Until</p>
        <input type="time" name="time_end" value="{{ reservation.time_end }}">
      </label>
    </fieldset>

    <label>
      <p>Band</p>
      <input type="text" name="band" value="{{ reservation.band }}">
    </label>

    <input type="hidden" name="key" value="{{ reservation.key }}">

    <div class="actions">
      <button value="put" name="action">Save</button>
      <button value="delete" name="action">Delete</button>
      <button value="cancel" name="action">Cancel</button>
    </div>
</form>
{% endblock main %}