{% extends "base.jinja" %}

{% block title %}
  {{ super() }} | {{ reservation.date }}
{% endblock title %}

{% block main %}
  <h1>
    Reservation
    {% if reservation.band %}
      for <em>{{ reservation.band }}</em>
    {% endif %}
    on <em>{{ reservation.date }}</em>
  </h1>

  <form method="post">
    <label>
      <p>Date</p>
      <input type="date" name="date" value="{{ reservation.date }}">
    </label>

    <label>
      <p>Band</p>
      <input type="text" name="band" value="{{ reservation.band }}">
    </label>

    {% if reservation.id is not none %}
      <input type="hidden" name="id" value="{{ reservation.id }}">
    {% endif %}

    <div class="actions">
      <button value="put" name="action">Save</button>
      <button value="delete" name="action">Delete</button>
      <button value="cancel" name="action">Cancel</button>
    </div>
</form>
{% endblock main %}