{% extends "base.jinja" %}

{% block body %}
  <h1><a href="{{ url_for('calendar_today') }}">Space 🚀 Fuck</a></h1>

  <dl>
    {% for reservation in reservations %}
      <dt>
        <a href="{{ url_for('reservation', date=reservation.date) }}">{{ reservation.date }}</a>
      </dt>

      {% for band in reservation.split_bands() %}
        <dd>{{ band }}</dd>
      {% endfor %}
    {% endfor %}
  </dl>
{% endblock body %}