{% extends "base.jinja" %}

{% block main %}
  <table>
    <caption><h1>Environment</h1></caption>

    {% for key, value in env|dictsort %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock main %}